section.advantages.container
  .cart
    .cart-img__wrap
      img(src="assets/img/man_phone.jpg")
    .cart__content
      .cart__number
        span 01
      h3.cart__title Be active
      p.cart__text.
        Post videos with your skills,
        Like and follow others to be
        more popular.
  .cart
    .cart-img__wrap
      img(src="assets/img/coach.jpg")
    .cart__content
      .cart__number
        span 02
      h3.cart__title Find contact
      p.cart__text.
        Contact others to find right coach or athlete you are looking for.
  .cart
    .cart-img__wrap
      img(src="assets/img/team.jpg" )
    .cart__content
      .cart__number
        span 03
      h3.cart__title Work it
      p.cart__text.
        Enjoy being a student athlete, the recruiting process can be overwhelming, we want to make this a enjoyable
        experience. 