section.features.container
  h2.features__title Athlets
  img.features__footballer-img(src="assets/img/footballer.png" alt="Footballer")
  .slider
    input(type="radio" id="btn-1" name="toggle" checked)
    input(type="radio" id="btn-2" name="toggle")
    input(type="radio" id="btn-3" name="toggle")
    .slider__controls
      label(for="btn-1")
      label(for="btn-2")
      label(for="btn-3")
    .slider__inner
      .slider__slides
        .slide
          h3.slide__title Connection
          p.slide__text Connect with coaches directly, you can ping
        .slide
          h3.slide__title Collaboration
          p.slide__text.
            Work with other student athletes to  increase visability. When you share and like other players
            videos it will increase your visability as a player. This is the team work aspect to Surface 1.
        .slide
          h3.slide__title Growth
          p.slide__text.
            Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc 
section.features.container
  h2.features__title Players
  img.features__basketballer-img(src="assets/img/basketballer.png" alt="Basketballer")
  .slider
    input(type="radio" id="btn-4" name="toggle2" checked)
    input(type="radio" id="btn-5" name="toggle2")
    input(type="radio" id="btn-6" name="toggle2")
    .slider__controls
      label(for="btn-4")
      label(for="btn-5")
      label(for="btn-6")
    .slider__inner
      .slider__slides
        .slide
          h3.slide__title Connection
          p.slide__text.
            Connect with talented athlete directly, you can watch their skills through video showreels directly
            from Surface 1.
        .slide
          h3.slide__title Collaboration
          p.slide__text.
            Work with recruiter to increase your chances of findingtalented athlete.
        .slide
          h3.slide__title Growth
          p.slide__text.
            Save your time, recruit proper athlets for your team.