footer.page__footer.container
  h2.page__footer-title Download app
    span Show everyone what you can do!
  a.btn(href="#") Download on the App Store
  a.btn(href="#")  Get it on Google Play
  .social
    .logo
      img.logo-img(src="assets/img/logo.png" alt="surface1" width="189" height="33")
    .social__wrap
      a.social__facebook(href="#") Facebook
      a.social__twitter(href="#")  Twitter
      a.social__instagram(href="#")  Instagram
    .text
      span Contact Us | Terms & Conditions