.header.page-header.container
  .logo
    img.logo-img(src="assets/img/logo.png" alt="surface1" width="189" height="33")
  .text
    span for athlets and coaches
  h1.header-title
    span.header-title__row Be recruited
    span.header-title__row  play college
    span.header-title__row  sports
  a.btn(href="#") Download on the App Store
  a.btn(href="#")  Get it on Google Play
  nav.menu
    ul.menu__list
      li.menu__item
        a.menu__link(href="#") Football
      li.menu__item
        a.menu__link(href="#") Basketball
      li.menu__item
        a.menu__link(href="#") Baseball
      li.menu__item
        a.menu__link(href="#") Soccer
      li.menu__item
        a.menu__link(href="#") Ice Hockey

