.header.page-header.container
  .logo__wrapper
    .logo
      img.logo-img(src="assets/img/logo.png" alt="surface1")
    .text.header-text
      span for athlets and coaches
  h1.header-title
    span.header-title__row Be recruited
    span.header-title__row  play college sports
  .menu__wrapper
    .btn__wrapper
      a.btn.btn--apple(href="#") Download on the App Store
      a.btn.btn--google(href="#")  Get it on <br> Google Play
    nav.menu
      ul.menu__list
        li.menu__item
          a.menu__link(href="#") Football
        li.menu__item
          a.menu__link(href="#") Basketball
        li.menu__item
          a.menu__link(href="#") Baseball
        li.menu__item
          a.menu__link(href="#") Soccer
        li.menu__item
          a.menu__link(href="#") Ice Hockey

