.features {
  position: relative;
  overflow: hidden;
}
.features__title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: $lightgray;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 245px;
  @media ($tablet-widths) {
    padding-top: 70px;
    padding-left: 285px;
    padding-bottom: 0;
    text-align: left;
    font-size: 90px;
    line-height: 60px;
  }
  @media ($desktop-widths) {
    padding-left: 50%;
  }
  &--left {
    @media ($tablet-widths) {
      padding-left: 30px;
      padding-right: 350px;
    }
    @media ($desktop-widths) {
      padding-left: 10.4%;
    }
  }

}
.features-img__wrap {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 265px;
    height: 3px;
    transform: rotate(-49deg);
    background-color: #5e42b0;
    top: -114px;
    left: calc(50% - 132px);
  }
}
.features__wrap--footballer {
  &:before {
    @media ($tablet-widths) {
      top: 72px;
      left: 20px;
      height: 6px;
      z-index: 2;
    }
    @media ($desktop-widths) {
      content: none;
    }
  }
}
.features__wrap--basketballer {
  &:before {
    @media ($tablet-widths) {
      top: 226px;
      left: calc(100% - 305px);
      height: 6px;
      z-index: 2;
    }
    @media ($desktop-widths) {
      content: none;
    }

  }
}
.features__footballer-img {
  position: absolute;
  z-index: 2;
  width: 170px;
  top: -220px;
  left: calc(50% - 85px);
  @media ($tablet-widths) {
    left: -157px;
    width: 430px;
    top: -44px;
  }
  @media ($desktop-widths) {
    left: 15%;
  }
}
.features__basketballer-img {
  position: absolute;
  z-index: 2;
  width: 304px;
  top: -220px;
  left: calc(50% - 152px);
  @media ($tablet-widths) {
    position: absolute;
    display: block;
    width: 669px;
    top: -86px;
    left: calc(100% - 425px);
  }
  @media ($desktop-widths) {
    left: calc(77% - 425px);
  }
}
