.page__footer {
  position: relative;
  min-height: 570px;
  padding: 95px 5px 15px 5px;
  background: center url("../img/bg-footer.jpg") no-repeat;
  background-size: cover;
  @media ($tablet-widths) {
    padding-top: 125px;
    padding-bottom: 92px;
  }
}
.footer__logo-wrap {
  margin: 0 auto;
  width: 73px;
  height: 78px;
  @media ($tablet-widths) {
    width: 130px;
    height: 138px;
  }
}

.page__footer-title {
  position: relative;
  font-size: 2.2666666em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
  @media ($tablet-widths) {
    font-size: 80px;
    line-height: 80px;
    margin-top: 70px;
    margin-bottom: 180px;
  }
  &:before {
    position: absolute;
    content: '';
    width: 90px;
    height: 3px;
    transform: rotate(-45deg);
    background-color: #5e42b0;
    top: 12px;
    left: 0px;
    @media ($tablet-widths) {
      width: 200px;
      height: 5px;
      top: 60px;
      left: 0px;
    }
  }
  &:after {
    position: absolute;
    content: '';
    width: 155px;
    height: 3px;
    transform: rotate(-45deg);
    background-color: #5e42b0;
    top: 24px;
    left: 118px;
    @media ($tablet-widths) {
      width: 405px;
      height: 5px;
      top: 90px;
      left: 291px;
    }
  }
  span {
    display: block;
    font-size: 15px;
    color: $purple;
    text-align: center;
    margin-top: 10px;
    @media ($tablet-widths) {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
