.page-header {
  padding: 35px 6px 15px 6px;
  background: center url("../img/bg-header.jpg") no-repeat;
  background-size: cover;
}
.logo__wrapper {
  display: flex;
  justify-content: center;
  @media ($tablet-widths) {
    justify-content: space-between;
  }
  @media ($desktop-widths) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.logo {
  width: 140px;
  @media ($tablet-widths) {
    width: 190px;
  }
}
.logo-img {
  width: 100%;
}
.text {
  span {
    color: #ffffff;
    display: none;
  }
}
.text.header-text span {
  @media ($tablet-widths) {
    display: block;
    font-size: 14px;
    line-height: 39px;
    text-transform: uppercase;
    font-weight: 100;
  }
}
.header-title {
  position: relative;
  color: #ffffff;
  font-size: 2.13333333333em;
  text-transform: uppercase;
  line-height: 1.5em;
  margin-top: 125px;
  margin-bottom: 110px;
  @media ($tablet-widths) {
    font-size: 64px;
    line-height: 1.3em;
    padding-left: 80px;
  }
  @media ($desktop-widths) {
    font-size: 90px;
    line-height: 1.3em;
    margin-top: 280px;
    padding-left: 0;
    margin-bottom: 0;
  }
  &::before {
    position: absolute;
    content: '';
    width: 220px;
    height: 3px;
    transform: rotate(-55deg);
    background-color: $purple;
    top: 75px;
    left: 40px;
    @media ($tablet-widths) {
      width: 400px;
      height: 5px;
      transform: rotate(-50deg);
      top: 120px;
      left: 145px;
    }
    @media ($desktop-widths) {
      top: 100px;
      left: 362px;
    }
  }
}
.header-title__row {
  display: block;
  &:first-of-type {
    padding-bottom: 15px;
    @media ($tablet-widths) {
      padding-bottom: 0;
    }
  }
  &:not(:first-of-type) {
    padding-left: 55px;
    @media ($desktop-widths) {
      padding-left: 480px;
    }
  }
}
.btn__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 40px;
  @media ($tablet-widths) {
    margin-bottom: 75px;
  }
  @media ($desktop-widths) {
    justify-content: center;
  }
  &--footer {
    @media ($tablet-widths) {
      margin-bottom: 130px;
    }
  }
}
.btn {
  display: block;
  position: relative;
  width: 142px;
  height: 39px;
  padding: 8px 10px 5px 45px;
  background-color: $purple;
  border-radius: 24px;
  box-shadow: 0 10px 16px #0a0e34;
  font-size: 0.533333333em;
  line-height: 1.6em;
  font-weight: lighter;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  &:first-of-type {
    @media ($desktop-widths) {
      margin-right: 50px;
    }
  }
  @media ($tablet-widths) {
    width: 310px;
    height: 77px;
    border-radius: 40px;
    font-size: 14px;
    padding: 15px 30px 15px 110px;
  }
  &--apple::before {
    position: absolute;
    content: '';
    background-image: url(../img/Apple.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 18px;
    @media ($tablet-widths) {
      width: 33px;
      height: 37px;
      top: 15px;
      left: 50px;
    }
  }
  &--google::before {
    position: absolute;
    content: '';
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 18px;
    @media ($tablet-widths) {
      width: 36px;
      height: 39px;
      top: 17px;
      left: 56px;
    }
  }
}