.slider {
  position: relative;
  background-color: #f5f4f9;
  padding: 25px 10px 25px 10px;
  input {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.slider__inner {
  overflow: hidden;
  @media ($tablet-widths) {
    overflow: visible;
  }
}
.slider__controls {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  @media ($tablet-widths) {
    display: none;
  }
}
.slider__slides {
  width: 300%;
  transition: transform 0.8s ease;
  @media ($tablet-widths) {
    width: 100%;
  }
}
label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 12px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  background-color: $lightgray;
}
.slide {
  width: 300px;
  float: left;
  @media ($tablet-widths) {
    width: 100%;
    float: none;
  }
}
.slide__title {
  text-transform: uppercase;
  color: $darkgray;
  font-size: 1.86666666em;
  line-height: 1.9em;
  text-align: center;
  padding-left: 20px;
}
#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"],
#btn-4:checked ~ .slider__controls label[for="btn-4"],
#btn-5:checked ~ .slider__controls label[for="btn-5"],
#btn-6:checked ~ .slider__controls label[for="btn-6"] {
  background-color: $purple;
}
#btn-1:checked ~ .slider__inner .slider__slides,
 #btn-4:checked ~ .slider__inner .slider__slides {
   transform: translate(0);
 }
#btn-2:checked ~ .slider__inner .slider__slides,
#btn-5:checked ~ .slider__inner .slider__slides {
  transform: translate(-300px);
}
#btn-3:checked ~ .slider__inner .slider__slides,
#btn-6:checked ~ .slider__inner .slider__slides {
  transform: translate(-600px);
}