.slider {
  position: relative;
  background-color: #f5f4f9;
  padding: 25px 10px 25px 10px;
  @media ($tablet-widths) {
    background-color: #fff;
    padding: 25px 0 0 0;
  }
  input {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.slider__inner {
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
  @media ($tablet-widths) {
    overflow: visible;
  }
}
.slider__controls {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  @media ($tablet-widths) {
    display: none;
  }
}
.slider__slides {
  width: 300%;
  transition: transform 0.8s ease;
  counter-reset: heading 0;
  @media ($tablet-widths) {
    width: 100%;
  }
}
label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 12px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  background-color: $lightgray;
}
.slide {
  width: 300px;
  float: left;
  @media ($tablet-widths) {
    padding: 20px 0 20px 285px;
    width: 100%;
    float: none;
  }
  &--left {
    @media ($tablet-widths) {
      padding-left: 30px;
      padding-right: 350px;
    }
  }
  &:nth-of-type(2) {
    @media ($tablet-widths) {
      background-color: #f5f4f9;
    }
  }
  &:nth-of-type(3) {
     @media ($tablet-widths) {
       background-color: $purple;
     }
   }
  &:nth-of-type(3).slide--left {
    @media ($tablet-widths) {
      background-color: #090c35;
    }
  }
  &:nth-of-type(3) .slide__text {
    @media ($tablet-widths) {
      color: #ffffff;
    }
  }
}
.slide__title {
  position: relative;
  text-transform: uppercase;
  color: $darkgray;
  font-size: 1.86666666em;
  line-height: 1.9em;
  text-align: left;
  padding-left: 30px;
  counter-increment: heading 1;
  &:before {
    position: absolute;
    content: "0"counter(heading);
    font-size: 14px;
    color: #000000;
    line-height: 22px;
    border-bottom: 4px solid $purple;
    top: 10px;
    left: 5px;
    @media ($tablet-widths) {
      font-size: 18px;
      border-width: 5px;
      top: 19px;
    }
  }
  @media ($tablet-widths) {
    font-size: 36px;
    padding-left: 40px;
    text-align: left;
    margin: 0;
  }
}
.slide__text {
  @media ($tablet-widths) {
    font-size: 18px;
    line-height: 28px;
  }
}
#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"],
#btn-4:checked ~ .slider__controls label[for="btn-4"],
#btn-5:checked ~ .slider__controls label[for="btn-5"],
#btn-6:checked ~ .slider__controls label[for="btn-6"] {
  background-color: $purple;
}
#btn-1:checked ~ .slider__inner .slider__slides,
 #btn-4:checked ~ .slider__inner .slider__slides {
   transform: translate(0);
 }
#btn-2:checked ~ .slider__inner .slider__slides,
#btn-5:checked ~ .slider__inner .slider__slides {
  transform: translate(-300px);
}
#btn-3:checked ~ .slider__inner .slider__slides,
#btn-6:checked ~ .slider__inner .slider__slides {
  transform: translate(-600px);
}