extends ../_template

block variables
  - var title = 'Survace1'

block content
  include ../common/header.pug
  include ../common/features.pug
  include ../common/advantages.pug
  include ../common/footer.pug